In [1]:
import pandas
import sklearn
import sys

from pandas import Series, DataFrame
import numpy as np
import xgboost as xgb
from sklearn import cross_validation

sys.path.append("../")
from common.CommonRegression import CommonRegression

In [2]:
train_df = pandas.read_csv("data/train.csv")
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
train_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
863         0       3  female   NaN      8      2   69.5500        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
868         0       3    male   NaN      0      0    9.5000        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
878         0       3    male   NaN      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
888         0       3  female   NaN      1      2   23.4500        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [5]:
train_df = train_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)
train_df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
863         0       3  female   NaN      8      2   69.5500        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
868         0       3    male   NaN      0      0    9.5000        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
878         0       3    male   NaN      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
888         0       3  female   NaN      1      2   23.4500        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [6]:
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].mean())

In [7]:
train_df["Embarked"] = train_df["Embarked"].fillna(train_df["Embarked"].mode()[0])

In [8]:
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [9]:
train_df["Embarked"] = train_df["Embarked"].astype("category")
train_df["Embarked"] = train_df["Embarked"].cat.codes
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    male  22.0      1      0   7.2500         2
1         1       1  female  38.0      1      0  71.2833         0
2         1       3  female  26.0      0      0   7.9250         2
3         1       1  female  35.0      1      0  53.1000         2
4         0       3    male  35.0      0      0   8.0500         2

In [10]:
train_df["Sex"] = train_df["Sex"].astype("category")
train_df["Sex"] = train_df["Sex"].cat.codes
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [11]:
training_set = train_df.drop(["Survived"], axis=1)
target_set = train_df["Survived"]

print len(training_set)
print len(target_set)

891
891

In [15]:
# K-fold cross validation
kf = cross_validation.KFold(len(training_set), n_folds=3)
for train_index, test_index in kf:
    x_train, x_test = training_set.ix[train_index], training_set.ix[test_index]
    y_train, y_test = target_set.ix[train_index], target_set.ix[test_index]
        
    commonAlgo = CommonRegression(x_train, y_train, x_test, y_test)
    commonAlgo.start()

In [ ]:
X_train["Embarked"] = X_train["Embarked"].cat.codes

In [ ]:
X_train["Sex"] = X_train["Sex"].astype("category")
X_train["Sex"] = X_train["Sex"].cat.codes

In [127]:
# Linear Regression
linear = LinearRegression()
linear.fit(X_train, Y_train)
linear.score(X_train, Y_train)

0.39790700664304002

In [137]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
random_forest.score(X_train, Y_train)

0.98204264870931535

In [138]:
# Logistic Regression
logistic = LogisticRegression()
logistic.fit(X_train, Y_train)
logistic.score(X_train, Y_train)

0.80471380471380471

In [140]:
# XGBoost
params = {"objective": "binary:logistic",
          "eta": 0.1,
          "max_depth": 5,
          "min_child_weight": 3,
          "silent": 1,
          "subsample": 0.7,
          "colsample_bytree": 0.7,
          "seed": 1}
num_trees=250
gbm = xgb.train(params, xgb.DMatrix(X_train, Y_train), num_trees)

In [143]:
X_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [144]:
X_test["Sex"] = X_test["Sex"].astype("category")
X_test["Embarked"] = X_test["Embarked"].astype("category")

In [148]:
X_test["Sex"] = X_test["Sex"].cat.codes
X_test["Embarked"] = X_test["Embarked"].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [162]:
X_test["Age"] = X_test["Age"].fillna(X_test["Age"].mean())
X_test["Embarked"] = X_test["Embarked"].fillna(X_test["Embarked"].mode())
X_test["Fare"] = X_test["Fare"].fillna(X_test["Fare"].mean())

0

In [166]:
gbm.predict(xgb.DMatrix(X_test))

array([ 0.05533627,  0.12954813,  0.07295285,  0.25502348,  0.47378823,
        0.12903664,  0.33239749,  0.13799036,  0.87516773,  0.01132281,
        0.01454793,  0.06824632,  0.94434381,  0.03344063,  0.93604952,
        0.88247466,  0.1335765 ,  0.24153914,  0.58430076,  0.5573681 ,
        0.5627864 ,  0.34554091,  0.98747444,  0.53295821,  0.94757718,
        0.01598003,  0.99302858,  0.29135734,  0.73960537,  0.118157  ,
        0.03898055,  0.19365716,  0.4935194 ,  0.0540062 ,  0.75203675,
        0.30217811,  0.1595083 ,  0.11078369,  0.064564  ,  0.4676069 ,
        0.0857121 ,  0.51594347,  0.05983258,  0.96222246,  0.97810066,
        0.18161824,  0.19635403,  0.02609157,  0.97525793,  0.74686849,
        0.54755002,  0.16255261,  0.90353125,  0.63781577,  0.11692339,
        0.00773212,  0.02417321,  0.08175397,  0.06331989,  0.99529606,
        0.03049327,  0.42031917,  0.08353469,  0.78788394,  0.35910112,
        0.84831882,  0.80244088,  0.03751808,  0.31218386,  0.85123521,
        0.86303127,  0.01321793,  0.6998111 ,  0.24828345,  0.9960742 ,
        0.51181233,  0.05409568,  0.88818944,  0.16023712,  0.86303127,
        0.94682628,  0.13138045,  0.21969047,  0.01454793,  0.05761821,
        0.04709386,  0.95134467,  0.54900563,  0.50009197,  0.95361525,
        0.21320316,  0.03884567,  0.8788588 ,  0.05409568,  0.42509779,
        0.26715291,  0.95684385,  0.31086043,  0.4744831 ,  0.08716079,
        0.98933393,  0.08575612,  0.02609157,  0.25873214,  0.64983326,
        0.04339788,  0.09030087,  0.02609157,  0.06125268,  0.06603835,
        0.03072918,  0.48054418,  0.99706727,  0.76364785,  0.94339287,
        0.04792432,  0.03422635,  0.89917177,  0.72577047,  0.89667958,
        0.93082935,  0.02994333,  0.99942541,  0.03843886,  0.02609157,
        0.71044993,  0.20683004,  0.76382834,  0.22943793,  0.0554538 ,
        0.27294043,  0.05490278,  0.05157678,  0.02704499,  0.03034706,
        0.07817537,  0.66152346,  0.10549757,  0.18924251,  0.01911242,
        0.01861674,  0.99510789,  0.18949412,  0.05823769,  0.77583307,
        0.03943856,  0.08586004,  0.06158343,  0.51594347,  0.06222879,
        0.98534101,  0.05338621,  0.09934148,  0.66946125,  0.03747787,
        0.04617258,  0.94914103,  0.51618117,  0.77583307,  0.42761651,
        0.47853744,  0.91337883,  0.86331755,  0.01529303,  0.11994448,
        0.1586902 ,  0.16640805,  0.03959458,  0.91741621,  0.13842899,
        0.00829427,  0.66152346,  0.03836532,  0.03911649,  0.10397471,
        0.97709346,  0.93235159,  0.50173283,  0.94807249,  0.92398679,
        0.16023712,  0.60590476,  0.98173022,  0.02609157,  0.94147903,
        0.09093826,  0.90441865,  0.13358074,  0.03512203,  0.12388673,
        0.11191646,  0.12761013,  0.19641906,  0.07106627,  0.95804691,
        0.06031571,  0.90679705,  0.56691605,  0.02069733,  0.24417493,
        0.41992399,  0.80930275,  0.18355013,  0.97513425,  0.03492088,
        0.13532838,  0.57826561,  0.02426372,  0.97680002,  0.02212887,
        0.24641699,  0.01529303,  0.05366762,  0.81449997,  0.10284221,
        0.21808158,  0.58665556,  0.13800921,  0.95212781,  0.05409568,
        0.96200097,  0.07502039,  0.76099014,  0.13878417,  0.73930854,
        0.37526551,  0.18683536,  0.50009197,  0.01529118,  0.11773091,
        0.10298585,  0.96998   ,  0.0461881 ,  0.05618374,  0.51738918,
        0.08031031,  0.36481604,  0.29836911,  0.87023044,  0.99087268,
        0.65897304,  0.82711047,  0.40497607,  0.01477058,  0.01100575,
        0.14097017,  0.78038985,  0.3171199 ,  0.89667958,  0.15441513,
        0.97024107,  0.2560879 ,  0.56131101,  0.03599124,  0.17076442,
        0.00829427,  0.02609157,  0.07933935,  0.87336445,  0.07276233,
        0.01859777,  0.04958199,  0.92637342,  0.89453   ,  0.28003013,
        0.01454793,  0.0396131 ,  0.00829427,  0.1595083 ,  0.0665118 ,
        0.19207601,  0.02609157,  0.97458398,  0.44310075,  0.03911649,
        0.86972851,  0.08450612,  0.04485035,  0.02116602,  0.02436213,
        0.09594878,  0.91424257,  0.50009197,  0.58251613,  0.83795428,
        0.01013771,  0.01285929,  0.16114442,  0.03911649,  0.05409568,
        0.06676847,  0.43068147,  0.03911649,  0.19342062,  0.07836604,
        0.0422336 ,  0.97972852,  0.118157  ,  0.05666966,  0.14925539,
        0.17097023,  0.03676552,  0.08257206,  0.01966948,  0.50009197,
        0.91646713,  0.07696226,  0.90484744,  0.28630656,  0.06581472,
        0.07061607,  0.34383208,  0.00829427,  0.22070661,  0.9513067 ,
        0.81770879,  0.28238535,  0.12331508,  0.39779088,  0.19174725,
        0.25873214,  0.33079866,  0.10549757,  0.86971128,  0.98297405,
        0.07326407,  0.92356306,  0.14639032,  0.05026902,  0.02864251,
        0.87850094,  0.33490053,  0.03911649,  0.92252159,  0.11725382,
        0.1362993 ,  0.43434188,  0.02653303,  0.28343666,  0.03911649,
        0.09290893,  0.04335887,  0.0394855 ,  0.91089326,  0.03909421,
        0.65209663,  0.10549757,  0.39614815,  0.03791308,  0.93759596,
        0.96655333,  0.03492088,  0.04547929,  0.17366795,  0.832941  ,
        0.10822056,  0.94038916,  0.03122859,  0.02609157,  0.36255848,
        0.00578521,  0.96191835,  0.93759596,  0.25502348,  0.99446446,
        0.26900333,  0.05074171,  0.25939402,  0.98260903,  0.47735325,
        0.05660313,  0.99075854,  0.07565548,  0.13202879,  0.95275486,
        0.95362824,  0.08818621,  0.03775272,  0.04632184,  0.5122112 ,
        0.02609157,  0.3000676 ,  0.1368106 ,  0.49648774,  0.11175222,
        0.94615632,  0.11980332,  0.09337422,  0.0804028 ,  0.09387378,
        0.22374251,  0.90241075,  0.17495711,  0.07197707,  0.01520403,
        0.98815852,  0.04524091,  0.98507756,  0.11267274,  0.05265952,
        0.96501499,  0.01436097,  0.99712604,  0.09422567,  0.10629092,
        0.21537387,  0.02940279,  0.28123975,  0.29730311,  0.76628089,
        0.50009197,  0.98883957,  0.62363708,  0.05409568,  0.99116081,
        0.01593482,  0.05409568,  0.27991569], dtype=float32)

In [165]:
random_forest.predict(X_test)

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1])